<div class="outterwrap">
  <div class="container">
    <div class="pagecanvas">
      <div class="row signupwrap">
        <mat-card style="width:100%">
          <mat-card-content>
            <b><h1>{{title}}</h1></b>
            <form [formGroup]="signupDetails">  
              <div class="input-group">
                <mat-form-field>
                  <input matInput placeholder="FirstName" class="form-control" formControlName="FirstName">
                </mat-form-field>
                <mat-form-field style="margin-left:30px">
                  <input matInput placeholder="SurName" class="form-control" formControlName="SurName">
                </mat-form-field>
              </div>
              <div class="form-group fullwidth">
                <mat-form-field>
                  <input matInput placeholder="Mobile Number or Email"  class="form-control" formControlName="Email">
                </mat-form-field>
              </div>
              <div class="form-group fullwidth">
                <mat-form-field>
                  <input matInput placeholder="Password"  class="form-control" formControlName="Password">
                </mat-form-field>
              </div>
              <div class="form-group fullwidth">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date"  class="form-control" formControlName="DOB">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <!--<div class="form-group fullwidth">
                <mat-radio-group>
                  <mat-radio-button formControlName="Gender" value="1">Male</mat-radio-button>
                  <span class="radiowidth"></span>
                  <mat-radio-button formControlName="Gender" value="2">Female</mat-radio-button>
                </mat-radio-group>
              </div>-->
              <div class="form-group fullwidth btnwidth">
                <button mat-raised-button type="submit" color="accent" [disabled]="signupDetails.invalid"
                (click)="submit(signupDetails.value)">Signup</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div> 
  